/* line 10, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
body {
  font-family: 'Open Sans', sans-serif; }

/* line 14, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.border {
  height: 6px;
  border: 0;
  background-color: #ff7473;
  background-image: linear-gradient(to right, #ff7473, #ff7473 25%, #ffc952 25%, #ffc952 50%, #47b8e0 50%, #47b8e0 75%, #3ac569 75%, #3ac569 100%, #3ac569 100%);
  -webkit-background-size: 50% 100%;
  -moz-background-size: 50% 100%;
  background-size: 50% 100%; }

/* line 37, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.wrapper {
  width: 750px;
  max-width: 90%;
  margin: 0 auto; }

/* line 43, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.clearfix:before .clearfix:after {
  content: " ";
  display: table; }

/* line 48, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.clearfix:after {
  clear: both; }

/* line 52, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.main_header {
  margin: 5em 0 3em 0; }

/* line 57, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.logo h1 {
  float: left;
  margin: 0 0 0 0;
  text-transform: uppercase;
  font-size: 2em;
  padding-top: .3em;
  color: #34314c;
  font-weight: bold;
  letter-spacing: .2em; }

/* line 67, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.logo .companyNameBlock {
  float: left; }
  /* line 69, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
  .logo .companyNameBlock .companyName {
    display: inline-block;
    padding-top: .1em;
    font-weight: 300;
    font-size: 2em;
    color: #9E9E9E;
    text-transform: uppercase;
    margin-left: .5em; }

/* line 82, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.nav {
  float: right;
  padding-top: 1em;
  margin-right: 1em; }
  /* line 86, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
  .nav a {
    color: #9E9E9E;
    margin-left: 1em;
    text-decoration: none;
    font-size: 1.1em; }
  /* line 92, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
  .nav .active {
    border-bottom: 1px solid #d9dee9; }

/* line 98, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.module .title {
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  color: #34314c; }
  /* line 103, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
  .module .title span {
    font-weight: 300;
    font-size: .9em;
    color: #9E9E9E; }

/* line 110, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.module .content {
  margin-top: 1.5em;
  font-size: 1.1em; }

/* line 115, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.module .register {
  margin-top: 1.5em;
  text-align: center; }

/* line 121, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.user-form {
  margin-bottom: 2em; }

/* line 126, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.form-group .form-label {
  padding: 0 1em;
  color: #34314c; }

/* line 133, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.userlist_row button {
  float: right;
  margin-right: 2em; }

/* line 139, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.rating_list {
  margin: 0 auto;
  max-width: 75%;
  padding: 0;
  margin-top: 3em; }
  /* line 144, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
  .rating_list li {
    list-style-type: none;
    float: left;
    text-align: center;
    padding: 0 2em; }
  /* line 150, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
  .rating_list img {
    width: 95px;
    -webkit-transition: width 0.3s ease-in;
    transition: width 0.3s ease-in;
    cursor: pointer; }
    /* line 155, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
    .rating_list img:hover {
      width: 100px; }
  /* line 159, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
  .rating_list .rating_text {
    font-size: 1.4em;
    color: #9E9E9E;
    display: block;
    margin-top: .5em; }

/* line 168, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.user_info .userid {
  color: #9E9E9E;
  font-weight: 300; }

/* line 174, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.overall_fiilari {
  color: #9E9E9E;
  font-size: 1.2em; }

@media only screen and (max-width: 565px) {
  /* line 180, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
  .logo {
    text-align: center; }
    /* line 182, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
    .logo h1 {
      float: none; }
    /* line 185, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
    .logo .companyNameBlock {
      float: none; }
      /* line 187, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
      .logo .companyNameBlock .companyName {
        margin-left: 0; }
  /* line 193, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
  .nav {
    display: block;
    margin: 0 auto;
    text-align: center;
    float: none; } }

/*# sourceMappingURL=styles.css.map */