/* line 10, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
body {
  font-family: 'Open Sans', sans-serif; }

/* line 14, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.border {
  height: 6px;
  border: 0;
  background-color: #ff7473;
  background-image: linear-gradient(to right, #ff7473, #ff7473 25%, #ffc952 25%, #ffc952 50%, #47b8e0 50%, #47b8e0 75%, #3ac569 75%, #3ac569 100%, #3ac569 100%);
  -webkit-background-size: 50% 100%;
  -moz-background-size: 50% 100%;
  background-size: 50% 100%; }

/* line 37, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.wrapper {
  width: 750px;
  max-width: 90%;
  margin: 0 auto; }

/* line 43, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.clearfix:before .clearfix:after {
  content: " ";
  display: table; }

/* line 48, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.clearfix:after {
  clear: both; }

/* line 52, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.main_header {
  margin: 5em 0 3em 0; }

/* line 57, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.logo h1 {
  float: left;
  margin: 0 0 0 0;
  text-transform: uppercase;
  font-size: 2em;
  padding-top: .3em;
  color: #34314c;
  font-weight: bold; }

/* line 66, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.logo .companyNameBlock {
  float: left; }
  /* line 68, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
  .logo .companyNameBlock .companyName {
    display: inline-block;
    padding-top: .1em;
    font-weight: 300;
    font-size: 2em;
    color: #9592ad;
    text-transform: uppercase; }

/* line 80, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.nav {
  float: right;
  padding-top: 1em;
  margin-right: 1em; }
  /* line 84, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
  .nav a {
    color: #9592ad;
    margin-left: 1em;
    text-decoration: none; }

/* line 92, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.module .title {
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  color: #34314c; }
  /* line 97, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
  .module .title span {
    font-weight: 300;
    font-size: .9em;
    color: #9592ad; }

/* line 104, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.module .content {
  margin-top: 1.5em;
  font-size: 1.1em; }

/* line 109, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.module .register {
  margin-top: 1.5em;
  text-align: center; }

/* line 115, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.user-form {
  margin-bottom: 2em; }

/* line 120, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.form-group .form-label {
  padding: 0 1em;
  color: #34314c; }

/* line 127, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.userlist_row button {
  float: right;
  margin-right: 2em; }

/* line 133, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.rating_list {
  margin: 0 auto;
  max-width: 75%;
  padding: 0;
  margin-top: 3em; }
  /* line 138, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
  .rating_list li {
    list-style-type: none;
    float: left;
    text-align: center;
    padding: 0 2em; }
  /* line 144, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
  .rating_list img {
    width: 95px;
    -webkit-transition: width 0.3s ease-in;
    transition: width 0.3s ease-in;
    cursor: pointer; }
    /* line 149, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
    .rating_list img:hover {
      width: 100px; }
  /* line 153, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
  .rating_list .rating_text {
    font-size: 1.4em;
    color: #9592ad;
    display: block;
    margin-top: .5em; }

/* line 162, C:/Projects/Fiilari/Fiilari/src/content/scss/styles.scss */
.user_info .userid {
  color: #9592ad;
  font-weight: 300; }

/*# sourceMappingURL=styles.css.map */