<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in vm.users">
				<td> {{ user.name }} </td>
				<td>
					<button class="btn btn-primary" ng-click="vm.addFiilis(user)">Add fiilis</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div ng-show="vm.selectedUser">
	<h4>Hello, {{vm.selectedUser.name}}.</h4>
	<div ng-hide="vm.verifySuccess">
		<label for="userId">Please verify yourself.</label>
		<input ng-model="inputUserId" class="form-control" type="number" id="userId" placeholder="user id" required><br />
		<button class="btn btn-success" ng-click="vm.verifyUser(inputUserId)">Verify</button>
	</div>
	<div ng-show="vm.verifySuccess">
		<ul>
			<li>So sad</li>
			<li>Ok</li>
			<li>Happy</li>
			<li>Pumped</li>
		</ul>
	</div>
</div>